.header-bg {
  background-color: #06bee1;
}

.container {
  max-width: 96em;
  margin: 0 auto;
}

.header-logo {
  color: white;
  padding: 0.5em;
}

@media screen and (max-width: 315px) {
  .header-logo {
    font-size: 5em;
  }
}
/*
@media screen and (max-width: 600px) {
	
}
*/
