.container {
  margin-top: 2em;
  padding: 2em;
  background-color: #06bee1;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

a {
  color: white;
}
